@model VisionData
@{
    ViewBag.Title = "Image Analysis";
}

@{
    var base64 = Convert.ToBase64String(Model.ImageBytes);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

    var audioFile = String.Format("data:audio/mpeg;base64,{0}", Convert.ToBase64String(Model.Audio));
}

<div class="container">
    <h1>Result</h1>
    <div class="d-flex mt-5 justify-content-center">
        <div class="card" style="width: 18rem; text-align:center; display: inline-block;">
            <img class="card-img-top mx-auto" src="@imgSrc">
            <div class="card-body">
                <h5 class="card-title">@Model.Filename</h5>
                <p>Gore, Adult and Hotdog score</p>
                <p class="card-text">
                    🤮 @Model.GoreScore.ToString("0.00")
                    🍆 @Model.AdultScore.ToString("0.00")
                </p>
                <p class="card-text">🌭 @(Model.Tags.Contains("hotdog") ? "YES!" : "Noooo")</p>
                <button class="btn btn-sm btn-dark details" data-toggle="modal" data-target="#detailsModal">Details</button>
            </div>
        </div>
    </div>
    <span id="audio"></span>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Visual Analysis Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Categories</h4>
                <ul class="list-group">
                    @foreach (var cat in Model.Categories)
                    {
                        <li class="list-group-item">@cat</li>
                    }
                </ul>
                <h4>Tags</h4>
                <ul class="list-group">
                    @foreach (var tag in Model.Tags)
                    {
                        <li class="list-group-item">@tag</li>
                    }
                </ul>
                <h4>Faces</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Age</th>
                            <th scope="col">Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var face in Model.Faces)
                        {
                            <tr>
                                <td>@face.Age</td>
                                <td>@face.Gender</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#audio').html('<audio autoplay><source src="@audioFile"></audio>');
    </script>
}